<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/comment.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Title</title>

    <div id="header">
        <h1>HEADER</h1>
    </div>
</head>
<body>

    <h1 class="title"><a href="forum.html">Community Forum</a></h1>

    <div class="container border">
        <div class="topic-title">
            Why the bot not behaving like...?
            dsa
        </div>

        <div class="card">
            <div class="row no-gutters .d-flex">
                <div class="col-md-2 border-right">
                    <img src="photo/profile.jpg" class="card-img" alt="profile-picture">
                    <p class="profile-name">amk123</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row no-gutters .d-flex">
                <div class="col-md-2 border-right">
                    <img src="photo/profile.jpg" class="card-img" alt="profile-picture">
                    <p class="profile-name">amk123</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row no-gutters .d-flex">
                <div class="col-md-2 border-right">
                    <img src="photo/profile.jpg" class="card-img" alt="profile-picture">
                    <p class="profile-name">amk123</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="row no-gutters .d-flex">
                <div class="col-md-2 border-right">
                    <img src="photo/profile.jpg" class="card-img" alt="profile-picture">
                    <p class="profile-name">amk123</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                            content.</p>
                    </div>
                </div>
            </div>
        </div>

        <button id="reply-button" type="button" class="btn btn-info btn-primary">Reply</button>
    </div>

    <script src="js/comment.js"></script>
</body>
</html>