<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/category.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>General questions</title>

    <div id="header">
        <h1>HEADER</h1>
    </div>

</head>

<body>

    <h1 class="title"><a href="forum.html">Community Forum</a></h1>

    <div class="container">
        <div id="topics">
            <ul class="list-group main-table">
                <li class="table-header">
                    <p class="list-group-item-info list-group-item">General questions
                        <a href="start-discussion.html" class="btn btn-info" role="button">Start discussion
                        </a>
                    </p>
                </li>

                <li class="list-group-item py-0 directory-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Directory</th>
                                <th>Date</th>
                                <th>Author</th>
                            </tr>
                        </thead>

                        <tbody class="table-element">
                            <tr>
                                <td><a href="#">How to run the bot?</a></td>
                                <td>17-01-2030</td>
                                <td>xqa12312</td>
                            </tr>
                            <tr>
                                <td><a href="#">Guide to register</a></td>
                                <td>17-01-2030</td>
                                <td>xqa1231231</td>
                            </tr>

                            <tr>
                                <td><a href="#">How to order?</a></td>
                                <td>17-02-2011</td>
                                <td>xaz1</td>
                            </tr>

                            <tr>
                                <td><a href="#">How to order?</a></td>
                                <td>17-02-2011</td>
                                <td>xaz1</td>
                            </tr>

                            <tr>
                                <td><a href="#">How to order?</a></td>
                                <td>17-02-2011</td>
                                <td>xaz1</td>
                            </tr>

                            <tr>
                                <td><a href="#">How to order?</a></td>
                                <td>17-02-2011</td>
                                <td>xaz1</td>
                            </tr>

                            <tr>
                                <td><a href="#">How to order?</a></td>
                                <td>17-02-2011</td>
                                <td>xaz1</td>
                            </tr>

                            <tr>
                                <td><a href="#">How to order?</a></td>
                                <td>17-02-2011</td>
                                <td>xaz1</td>
                            </tr>

                            <tr>
                                <td><a href="#">How to order?</a></td>
                                <td>17-02-2011</td>
                                <td>xaz1</td>
                            </tr>

                            <tr>
                                <td><a href="#">How to order?</a></td>
                                <td>17-02-2011</td>
                                <td>xaz1</td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>