<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGU</title>
</head>
<body>

    <% if (username != null) {%>
    <h1>Hi <%= username %> </h1>   
    <%} %>
    <a href="registration">To registration</a>
    <br>
    <a href="login">To login</a>

    <a href="update_address.html">To update</a>
</body>
</html>
