<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style/registration.css">
        <title>Registration</title>
    </head>
    <body>
        <h1>Registration</h1>
        <form id="form" action="/sign_up" method="post">
            <div id="username">
                <label for="username_input">Username: </label>
                <input type="text" name="username_input" id="username_input" size="30" placeholder="Enter your username" onchange="validateUsername(); validateUniqueUsername()">
            </div>
            <br>
            <br>
            <div id="password">
                <label for="password_input">Password: </label>
                <input type="password" name="password_input" id="password_input" size="30" placeholder="Enter your password" onchange="validatePassword(); validateConfirmPassword()">
            </div>
            <br>
            <br>
            <div id="confirm_password">
                <label for="confirm_password_input">Confirm password: </label>
                <input type="password" name="confirm_password_input" id="confirm_password_input" size="30" placeholder="Confirm password" onchange="validateConfirmPassword()">
            </div>
            <br>
            <br>
            <div id="email">
                <label for="email_input">Email: </label>
                <input type="text" name="email_input" id="email_input" size="30" placeholder="Enter your email address" onchange="validateEmail(); validateUniqueEmail()">
            </div>
            <br>
            <br>
            <div id="address" name="address">
                <label for="address_autocomplete">Address: </label>
                <input id="autocomplete" name="address_autocomplete" size="30" placeholder="Enter your address"  onFocus="geolocate()" type="text"/>
            </div>
            <br>
            <br>
            <div id="mobile_number">
                <label for="mobile_number">Mobile Number: </label>
                <input type="text" name="mobile_number_input" id="mobile_number_input" size="30" placeholder="Enter your Singapore's phone number" onchange="validatePhoneNumber(); validateUniqueMobileNumber()">
            </div>

            <br>
            <br>
            <br>
            <input type="submit" value="submit button">
            <br><br>
        </form>

        <a href="login">Already have account? Click here to go to login page!</a>

        <script src="js/jquery.js"></script>
        <script src="js/autocomplete.js"></script>
        <script src="js/validation.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIWEKaDIthMAPmibgP4PEIUuNeCP69fi0&libraries=places&callback=initAutocomplete" async defer></script>
    </body>
</html>
